.footer-item {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    background: #222;
    grid-area: bottom;
    flex-wrap: wrap;
    grid-column: head-col-start / head-col-end;
    grid-row: content-row-end / footer-row-end;

}

