html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
.w3-top{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 10px;
    background-color: black;
    color: white;
    }

.sign-in{
    padding-left: 80% !important;
    padding-right: 5% !important;
}

