html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}



body
{
    background-color: #FFE4E1;
    font-family: 'Abel';
}

.userprofile {
  /*display: flex;*/
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

}
.userprofile label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
.userprofile p{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}

.userprofile input {
  display: inline-block;
  float: left;
}

.userprofile a{
  display: inline-block;
  align-items: left;
  justify-content: left;
}



.container {
  /*display:flex;*/
  position: relative;
  min-height: 90vh;
  /*display: grid;
  grid-template-areas:
    "hd hd hd hd hd"
    "main main main main"
    "ft ft";*/
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
* {box-sizing: border-box;}

.table {
  background-color: #fff4e6;
  grid-area: "main";
  border-style: solid;
  border-width: 1px;

}


.header {
    border-style: solid;
    border-color: #7B68EE;
    background-color: #7B68EE;
    /*grid-area: "hd hd hd hd hd";*/
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    border-width: 10px;
    font-family: Arial, Helvetica, sans-serif;
    }


.header >a{
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  /*margin: 0%;*/
  padding: 10%;
}

.home{
  padding-left: 0% !important;
}

.sign-in {
      padding-left: 55% !important;
      padding-right: 0% !important;
  }

.sign-up{
  padding-right: 0% !important;
}

.Categories{
    width: 200px;
    position: relative;
    z-index: 1;
    top: 55px;
    left: 8px;
    height: 100%;
    background: #eee;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: #b3b3b3;
    color: black;
    /*flex-wrap: wrap;
    align-items: left;
    justify-content: left;
    justify-items: left;*/
  }


  footer {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    background: #222;
    flex-wrap: wrap;
    /*grid-area: "ft ft";*/
    justify-content: center;
    color: white;
    margin-top: 200px;
    bottom: 0;


}
.active, .collapsible:hover {
  background-color: #ccc;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}


.properties {
  font-weight: bold;
  display: block;
}


.content-item{
  border: solid black 1px;
}


#myInput {

  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 12px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 900px;
  border: 1px solid #ddd;
  font-size: 18px;
  background-color: #87CEEB;
  margin-left: 250px;
  margin-top: -185px;
  margin-right:

}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {

  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {

  background-color: #f1f1f1;
}
