html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

body
{
    background-color: #24CE9A;
    font-family: 'Abel';
    text-align: center; 
}

.container {
  grid-gap: 10px;
  display: grid;
  grid-template-areas: 
    "hd hd hd hd hd"
    "main main main main"
    "ft ft";
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
* {box-sizing: border-box;}

.content {
  background-color: #fff4e6;
  grid-area: "main";
  border-style: solid;
  border-width: 1px;
  margin-left: 20%;
  margin-top: -10%;
  margin-right: 15%;
}


.header {
    border-style: solid;
    border-color: white;
    background-color: white;
    grid-area: "hd hd hd hd hd";
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    border-width: 10px;
    }


.header >a{
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  margin: 0%;
  padding: 10%;
}

.home{
  padding-left: 0% !important;
}

.sign-in {
      padding-left: 55% !important;
      padding-right: 0% !important;
  }

.sign-up{
  padding-right: 0% !important;
}



.Categories{
    width: 130px;
    position: relative;
    z-index: 1;
    top: 100px;
    left: 8px;
    height: 100%;
    background: #eee;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: #b3b3b3;
    color: black;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
    justify-items: left;
  }

  
  footer {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    background: #222;
    flex-wrap: wrap;
    grid-area: "ft ft";
    justify-content: center;
    color: white;
    margin-top: 4%;
  

}
